In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Data set/Titanic-Dataset.csv")
print(df)

In [ ]:
Fare = df[['Fare']]
Fare.head()

Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the
head of the result.

In [ ]:
class_age = df[['Pclass', 'Age']]
class_age.head()

Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic
dataset, in that order. Print the head of the result.

In [ ]:
survived_gender = df[['Survived', 'Sex']]
survived_gender.head()

Create a DataFrame called survived gender that contains the Survived and Sex columns of the
Titanic dataset, in that order.Print the head of the result.

In [ ]:
Fare_gt_100 = df[df['Fare']>100]
Fare_gt_100

Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it
to fare gt 100.View the printed result.

In [ ]:
first_class = df[df['Pclass'] ==  1]
first_class

Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger
is female (Sex is "female"), assigning it to female under 18. View the printed result.

In [ ]:
female_under_18 = df[(df['Age']<18) & (df['Sex'] == 'female')]
female_under_18

Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"
(Southampton), assigning the result to embarked c or s. View the printed result.

In [ ]:
embarked_c_or_s = df[(df['Embarked']=='C') | (df['Embarked'] == 'S')]
embarked_c_or_s

Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first
or second class), assigning the result to first second class.View the printed result.

In [ ]:
first_second_class = df[(df['Pclass']==1) |(df['Pclass'] == 2)]
first_second_class

Which passenger had the highest fare paid relative to their age?

In [6]:
df['fare_per_year'] = df['Fare'] / df['Age']
df['fare_per_year'] = df['fare_per_year'].replace([float('inf'), -float('inf')], 0).fillna(0)

In [7]:
high_fare_age = df[df['fare_per_year'] > 5]

In [8]:
high_fare_age_srt = high_fare_age.sort_values(by='fare_per_year', ascending=False)

In [ ]:
result = high_fare_age_srt[['Name', 'fare_per_year']]
result

Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their
class?

In [15]:
df['fare_per_class'] = df['Fare'] / df['Pclass']

In [17]:
adult_males = df[(df['Sex'] == 'male') & (df['Age'] >= 18)]

In [19]:
adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)

In [ ]:
result = adult_males_srt[['Name', 'Age', 'fare_per_class']]
result